/DIAPI_CONN/DIAPI_CONN/bin/Debug
/DIAPI_CONN/DIAPI_CONN/bin/x64/Debug
/DIAPI_CONN/DIAPI_CONN/obj/Debug
/DIAPI_CONN/DIAPI_CONN/obj/x64/Debug
/DIAPI_CONN/DIAPI_CONN/obj/x86/Debug
/UIAPI/EXP_UIAPI/.vs/EXP_UIAPI/v17/.suo
/UIAPI/EXP_UIAPI/.vs/EXP_UIAPI/project-colors.json
/UIAPI/EXP_UIAPI/Properties/AssemblyInfo.cs
/UIAPI/EXP_UIAPI/Properties/Resources.Designer.cs
/UIAPI/EXP_UIAPI/Properties/Resources.resx
/UIAPI/EXP_UIAPI/Properties/Settings.Designer.cs
/UIAPI/EXP_UIAPI/Properties/Settings.settings
/UIAPI/EXP_UIAPI/bin/x64/Debug/EXP_UIAPI.exe
/UIAPI/EXP_UIAPI/bin/x64/Debug/EXP_UIAPI.exe.config
/UIAPI/EXP_UIAPI/bin/x64/Debug/EXP_UIAPI.pdb
/UIAPI/EXP_UIAPI/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/UIAPI/EXP_UIAPI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UIAPI/EXP_UIAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UIAPI/EXP_UIAPI/obj/Debug/EXP_UIAPI.csproj.AssemblyReference.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/UIAPI/EXP_UIAPI/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.Properties.Resources.resources
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.csproj.AssemblyReference.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.csproj.CoreCompileInputs.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.csproj.FileListAbsolute.txt
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.csproj.GenerateResource.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.csproj.ResolveComReference.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.csproj.SuggestedBindingRedirects.cache
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.exe
/UIAPI/EXP_UIAPI/obj/x64/Debug/EXP_UIAPI.pdb
/UIAPI/EXP_UIAPI/obj/x64/Debug/Interop.SAPbobsCOM.dll
/UIAPI/EXP_UIAPI/obj/x64/Debug/Interop.SAPbouiCOM.dll
